[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python manage.py runserver 4000"

[packages]
django = "*"
graphene-django = "*"
psycopg2-binary = "*"
django-filter = "*"
django-cors-headers = "*"
gunicorn = "*"
pyppeteer = "*"
redis = "*"
channels = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
